
<form method="post" action="/moderator/login" class="form-inline">
    <label for="username-input" class="sr-only" for="inlineFormInputName2">Username:</label>
    <input type="text" id="username-input" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="">

    <label for="password-input" class="sr-only" for="inlineFormInputGroupUsername2">Password:</label>
    <input type="text" id="password-input" name="password"class="form-control" id="inlineFormInputGroupUsername2" placeholder="">
    <button type="submit" class="border border-warning 100px align-self-center btn btn-primary mb-2">Submit</button>
</form>
